{{ define "main" }}
  <article>
    <h1 class="post-title">{{ .Title }}</h1>
    <div class="meta">
      <time>{{ .Date.Format "02.01.2006" }}</time>
      {{ with .Params.author }} • {{ . }}{{ end }}
      {{ with .Params.tags }}
        <span class="tags">
          {{ range . }}<a href="{{ printf "tags/%s/" (. | urlize) | relURL }}">#{{ . }}</a>{{ end }}
        </span>
      {{ end }}
      <span class="source-link"> • <a href="{{ .Params.source }}" target="_blank">Оригинал</a></span>
    </div>
    
    <div class="content">
      {{ .Content }}
    </div>
  </article>
{{ end }}
