output_dir: ./backup

hugo:
  base_url: "https://example.com/"
  title: "Бэкап статей"
  language_code: "ru"

auth:
  sponsr_cookie_file: ./sponsr_cookie.txt
  boosty_cookie_file: ./boosty_cookie.txt
  boosty_auth_file: ./boosty_auth.txt

sources:
  # Sponsr
  - platform: sponsr
    author: author_name
    display_name: "Отображаемое имя"
    download_assets: true
    # asset_types: ["image", "video", "audio", "document"] # Опционально: выбор типов
    
  # Boosty
  - platform: boosty
    author: author_name
    display_name: "Отображаемое имя"
    download_assets: true
